<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="icon" href="/static/images/T.jpg" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <div class="theme-toggle-wrapper">
        <button class="theme-toggle" onclick="toggleTheme()">
            <span class="toggle-circle"></span>
            <span class="sun-icon">☀️</span>
            <span class="moon-icon">🌙</span>
        </button>
    </div>

    <div class="container">
        <div class="logo">
            <img class="light-logo" src="/static/images/talkdb logo w.png" alt="TalkDB Logo">
            <img class="dark-logo" src="/static/images/talkdb logo b.png" alt="TalkDB Dark Logo" style="display: none;">
        </div>
        <h2>Welcome new user</h2>
        <form action="/signup" method="post">
            <div class="input-wrapper">
                <input type="text" name="db_username" required placeholder=" " id="db_username">
                <label>Database Username</label>
            </div>
            <div class="input-wrapper">
                <input type="password" name="db_password" required placeholder=" " id="db_password">
                <label>Database Password</label>
            </div>
            <div class="input-wrapper">
                <input type="text" name="db_host" required placeholder=" " id="db_host">
                <label>Database Host</label>
            </div>
            <div class="input-wrapper">
                <input type="text" name="first_name" required placeholder=" " id="first_name">
                <label>First Name</label>
            </div>
            <div class="input-wrapper">
                <input type="text" name="last_name" required placeholder=" " id="last_name">
                <label>Last Name</label>
            </div>
            <div class="input-wrapper">
                <input type="email" name="email" required placeholder=" " id="email">
                <label>Email Address</label>
            </div>
            <div class="input-wrapper">
                <input type="password" name="password" required placeholder=" " id="password">
                <label>Password</label>
            </div>
            <div class="input-wrapper">
                <input type="password" name="retype_password" required placeholder=" " id="retype_password">
                <label>Confirm Password</label>
            </div>
            <input type="submit" value="Sign Up">
        </form>
    </div>
    <script src="/static/js/signup.js"></script>
</body>
</html>
